# ativar a escrita
RewriteEngine On

# informando que a regra é para pegar os valores e não
# tentar acessar diretórios, arquivos e links conhecidos
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

# expressao regular para pegar tudo após o index.php
# e anexar à query URL. Encerrar o .htaccess
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

Options -Indexes